<!-- app.navi variable para la navegacion interna ng-swipe-left="tabSwipeLeft('tab0')" -->
 
    <ons-page material >
    
    <p></p>
    
    <ons-progress-circular indeterminate 
                           ng-if = "showcircular" 
                           style ="margin:auto;  display:block;">
    </ons-progress-circular>

    <p></p>
    
    <ons-toolbar>
		<ons-col width='50%' class="leftTitle"> <h3 class = "titleM">FullStack</h3> </ons-col>
		
		<ons-col width='50%' class="searchInput"> 
		    <form ng-submit="findVeiculo(query);">
                <ons-input type="search" class="search-input" style="width:90%;" placeholder="Busca por um veiculo" ng-model="query"></ons-input>
                <button type="submit" class="button"><ons-icon icon="ion-search" class="noVertical" ></ons-icon></button>
                  
            </form>
        </ons-col>
    </ons-toolbar>

    <p></p>
    <ons-row >
        <ons-col width='90%' ><h1 class="border title">Veiculo</h1></ons-col>    
        <ons-col width='10%'>
            
                <ons-icon class="list-item__icon3" icon="ion-plus-circled" size="2x" ng-click="newVeiculo()"></ons-icon>
          
        </ons-col>
    </ons-row>
    
    <p></p>
    <p></p>
    
    <!-- lista -->
    <ons-row>
        <!-- items -->
        <ons-col width='50%'>
            <ons-list>
				<ons-list-header class="Noborder">Lista de Veiculos</ons-list-header>
				<ons-list-item ng-repeat="item in $storage.items" ng-click="getVeiculo(item._id, $index)">
                    <div class="center">
                        <span class="list-item__title">{{item.marca}}</span>
                        <span class="list-item__subtitle">{{item.veiculo}}</span>
                        <span class="list-item__subtitle">{{item.ano}}</span>
                    </div>
                  <div class="right">
                        <ons-icon icon="ion-arrow-right-c" class="list-item__icon"   ng-click=""></ons-icon>
                  </div>
                </ons-list-item>
			</ons-list>
        </ons-col>
        
        <!-- item descricao -->
        <ons-col width='50%' ng-if="itemSelect.veiculo">
            <span class="list-header Noborder">Detalhes</span>
            <ons-card class="itemSelect">
				 
				<div class="title">
					{{itemSelect.veiculo}}
				</div>
				<div class="content">
				    
				    <ons-row>       
                        <ons-col width='50%'>
                            Marca
                            <br>
							{{itemSelect.marca}}
						</ons-col> 
						<ons-col width='50%'>
						    Ano
						    <br>
							{{itemSelect.ano}}
						</ons-col>
				    </ons-row>
				    <ons-row>
				        <p>{{itemSelect.descricao}} </p>
				    </ons-row>
				    
				    <ons-row>
				        <ons-col width='90%'>
				            <ons-button ng-click="updVeiculo(itemSelect)"><ons-icon icon="ion-edit" class="noVertical"></ons-icon> Editar</ons-button>
				            <ons-button ng-click="getMarcaVeiculo(itemSelect._id)"><ons-icon icon="ion-edit" class="noVertical"></ons-icon> Editar Marca</ons-button>    
				            <ons-button ng-click="confirmDeleteVeiculo(itemSelect._id)"><ons-icon icon="ion-trash-b" class="noVertical" ></ons-icon> Eliminar</ons-button></ons-col>    
				        </ons-col>
				        <ons-col width='10%'>
				            
                                <ons-icon icon="ion-arrow-right-c" class="list-item__icon2"   ng-click=""></ons-icon>
                          
				        </ons-col>
				    </ons-row>
				        
				</div>
			</ons-card>
        </ons-col>
        
        
    </ons-row>
    
    
    <ons-modal id="myModal" direction="up">
        <form name="myForm" novalidate >
            <ons-row>
                <h1 class="title">Novo Veiculo</h1>
            </ons-row>
            <ons-row>
                <ons-col width='50%'>
                    <input 
                    ng-required="true" 
                    name="veiculo" 
                    id="veiculo" 
                    modifier="underbar" 
                    type="text" 
                    placeholder="Veiculo" 
                    ng-minlength = "2"
                    ng-class="{'error': myForm.veiculo.$dirty && (myForm.veiculo.$error.minlength || myForm.veiculo.$error.required)}" 
                    float 
                    ng-model="$storage.Item.veiculo"></input>
                     
                    <div class="errorText" ng-if="myForm.veiculo.$invalid && myForm.veiculo.$dirty">
                        <span ng-if="myForm.veiculo.$error.required">Campo requerido</span>
                        <span ng-if="myForm.veiculo.$error.minlength">Minimo 5 letras</span>
                    </div>
                    
                </ons-col> 
                <ons-col width='50%'>
                    <input 
                    ng-required="true" 
                    id="marca"
                    name="marca" 
                    modifier="underbar" 
                    type="text" 
                    placeholder="Marca" 
                    float 
                    ng-minlength = "2"
                    ng-class="{'error': myForm.marca.$dirty && (myForm.marca.$error.minlength || myForm.marca.$error.required)}" 
                    ng-model="$storage.Item.marca"></input>
                    
                    <div class="errorText" ng-if="myForm.marca.$invalid && myForm.marca.$dirty">
                        <span ng-if="myForm.marca.$error.required">Campo requerido</span>
                        <span ng-if="myForm.marca.$error.minlength">Minimo 5 letras</span>
                    </div>
                </ons-col> 
                  
            </ons-row>
            <br><br>
            <ons-row>
                <ons-col width='50%'>
                    <input 
                    name="ano" 
                    ng-required="true" 
                    modifier="underbar" 
                    type="number" 
                    placeholder="Ano" 
                    float 
                    ng-class="{'error': (myForm.ano.$dirty &&  myForm.ano.$error.required) || $storage.errorAno}"
                    ng-model="$storage.Item.ano"
                    ng-change="validateAno()"></input>
                    
                    <div class="errorText" ng-if="myForm.ano.$invalid && myForm.ano.$dirty">
                        <span ng-if="myForm.ano.$error.required">Campo requerido</span>
                       
                    </div>
                    <div class="errorText" ng-if="$storage.errorAno && myForm.ano.$dirty">
                        <span ng-if="!myForm.ano.$error.required">Ano invalido</span>
                    </div>
                
                </ons-col> 
                
                
                <ons-col width='50%'>
                    <ons-switch ng-model="$storage.Item.vendido"></ons-switch> <span>Vendido</span>
                </ons-col> 
            </ons-row>
            
           <br>
            <ons-row>
                <ons-col >
                    <textarea class="textarea width-full" 
                    name="descricao" 
                    ng-required="true" 
                    modifier="underbar" 
                    placeholder="Descricao" 
                    ng-class="{'error': myForm.descricao.$dirty &&  myForm.descricao.$error.required}"
                    ng-model="$storage.Item.descricao"
                    rows="5"></textarea>
                    
                    <div class="errorText" ng-if="myForm.descricao.$invalid && myForm.descricao.$dirty">
                        <span ng-if="myForm.descricao.$error.required">Campo requerido</span>
                       
                    </div>
                
                </ons-col> 
            </ons-row>
            <br><br>
             
                <p>
                    <ons-button ng-click="addVeiculo()" ng-disabled="myForm.$invalid || $storage.errorAno" ng-if="operation == 'Ins'">
                         Add
                    </ons-button>
                    <ons-button ng-click="updateVeiculo()" ng-disabled="myForm.$invalid || $storage.errorAno" ng-if="operation == 'Upd'">
                         Update
                    </ons-button>
                    <ons-button ng-click="dialogLoadHide('myModal')">Fechar</ons-button>
                </p>
            
        </form>
    </ons-modal>
    
    <p></p>
  
</ons-page>
