<!DOCTYPE HTML>
<html> 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   
    <meta   http-equiv="Content-Security-Policy" 
            content=" default-src *  data: gap: blob:
                        https://ssl.gstatic.com;
                        script-src * 'unsafe-inline' 'unsafe-eval'
                        https://*.gstatic.com https://*.googleapis.com;
                        connect-src *;
                        img-src * data: blob: android-webview-video-poster:;
                        style-src * 'unsafe-inline';
                        media-src *">
   
   
    
    <!--------------------->
    <!------- CCS --------->  
    <!--------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.8.1/css/onsenui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.8.1/css/onsen-css-components.min.css">
	

    
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> 
    
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    
    <!--------------------->
    <!--- livrarias JS ---->  
    <!--------------------->
    
    <!-- libreria AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-touch.min.js"></script>-->
    
    
    
    <!-- livraria OnsenUI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.8.1/js/onsenui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.8.1/js/angular-onsenui.min.js"></script>
    
    <!-- livraria jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
    <!-- livraria Almacenamiento Angular -->
    <script src="/javascripts/ngmodules/ngStorage.min.js"></script>
        
    <!-- livraria lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script> 
 
    <!-- JS Back -->
    <script src="/javascripts/controllers/app.js"></script>
    
</head>

<body ng-controller="AppController"  >
        
        <ons-navigator var="myNavigator" page="home.html" id="myNavigator">
		</ons-navigator> 
        
        <!-- modal de carrega de processos--> 
        <ons-dialog id="dialog-1">
            <div style="text-align: center; margin: 30px auto 0 auto; width: 90%;">
                <div class="progress-bar progress-bar--indeterminate"></div>
                <div style="opacity: 0.6; margin-top: 6px; font-size: 80%;"> 
                    {{$storage.mensaje}}
                </div>
            </div>
        </ons-dialog>   

    </body>
</html>
